@import 'partial';
@import '../../characters';

.char-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  border-radius: .5rem;
  background-color: $bg-secondary;
  color: $text-main;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px $text-secondary;
  }

  .img-container {
    width: 40%;
    overflow: hidden;
    border-radius: .5rem 0 0 .5rem;

    img {
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .details {
    position: relative;
    width: 60%;
    padding: 1em 1.5em;
  }
}
